<!--
Name of File: home/templates/home.html
Brief description of the file: creates a home page, that links to all other pages
Inputs: None
Outputs: display all other pages in the website
-->
{% if request.user.is_authenticated%} <!--If the user is logged in-->
<a href="{%url 'logout'%}">Logout</a> <!--Show logout button, which leads to logout url-->
<a href="/accounts/user-profile">View User Profile</a> <!--show generate schedule button-->
{%else%} <!--if use is not logged in-->
<a href="/accounts/register">Register</a> <!--show register button-->
<a href="/accounts/login">Login</a> <!--show login button-->
{%endif%}
<a href="/travel/select-region">Select Region</a> <!--show select region button-->
<a href="/travel/recommend-attractions">Recommend Attraction</a> <!--show recommend attractions button-->
<a href="/travel/generate-schedule">Generate Schedule</a> <!--show generate schedule button-->
