<!--
Name of File: home/templates/home.html
Brief description of the file: creates a home page, that links to all other pages
Inputs: None
Outputs: display all other pages in the website
-->
{% load static %}
<html>
<head>
    <!-- Title of the page -->
    <title>Home Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'hpage.css' %}">
</head>
<body>
    <header class="top-bar">
        <div class="logo">
            <a href="/home" class="nav-link">
                <img src="{% static 'TB.png' %}" alt="Your Logo">
            </a>
        </div>
        <ul class="nav-list">
            <li><a href="/home" class="nav-link link-secondary">Home</a></li>
            <li><a href="/travel/select-region" class="nav-link link-dark">Select Region</a></li>
            <li><a href="/travel/recommend-attractions" class="nav-link link-dark">Recommend Attraction</a></li>
            <li><a href="/travel/generate-schedule" class="nav-link link-dark">Generate Schedule</a></li>
        </ul>
        <div class="user-actions">
            {% if request.user.is_authenticated %}
            <a type="button" class="btn btn-outline-primary me-2" href="{% url 'logout' %}">Logout</a>
            <a type="button" class="btn btn-primary" href="/accounts/user-profile">View User Profile</a>
            {% else %}
            <a type="button" class="btn btn-outline-primary me-2" href="/accounts/login">Login</a>
            <a type="button" class="btn btn-primary" href="/accounts/register">Register</a>
            {% endif %}
        </div>
    </header>
</body>
</html>

