<!--
Name of File: home/templates/home.html
Brief description of the file: creates a home page, that links to all other pages
Inputs: None
Outputs: display all other pages in the website
-->
<html>
    <head>
        <!-- Title of the page -->
        <title>Home Page</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <!--Create home header-->
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <!-- ADD LATER FOR LOGO
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
            -->
            <!-- middle items -->
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/home" class="nav-link px-2 link-secondary">Home</a></li> <!--show home button-->
                <li><a href="/travel/select-region" class="nav-link px-2 link-dark">Select Region</a></li> <!--show select region button-->
                <li><a href="/travel/recommend-attractions" class="nav-link px-2 link-dark">Recommend Attraction</a></li> <!--show recommend attractions button-->
                <li><a href="/travel/generate-schedule" class="nav-link px-2 link-dark">Generate Schedule</a></li> <!--show generate schedule button-->
            </ul>
            <!-- right items -->
            <div class="col-md-3 text-end">
                {% if request.user.is_authenticated%} <!--If the user is logged in-->
                <a type="button" class="btn btn-outline-primary me-2" href="{%url 'logout'%}">Logout</a> <!--Show logout button, which leads to logout url-->
                <a type="button" class="btn btn-primary" href="/accounts/user-profile">View User Profile</a> <!--show generate schedule button-->
                {%else%} <!--if use is not logged in-->
                <a type="button" class="btn btn-outline-primary me-2" href="/accounts/login">Login</a> <!--show login button-->
                <a type="button" class="btn btn-primary" href="/accounts/register">Register</a> <!--show register button-->
                {%endif%}
            </div>
        </header>
    </body>
</html>
