body {
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container {
    max-width: fit-content;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
h2 {
    color: #333;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 20px;
}
input[type="submit"] {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #0289f0, #9236ee);
}