{% load static %}
{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us - Travel Recommendation App</title>
</head>
<body class="d-flex flex-column vh-100">
    <main class=" flex-grow-1">
        <h1>About Us</h1>
        <p>Welcome to, TrekBud, our Travel Recommendation App! We are passionate about helping travelers discover new destinations, attractions, restaurants, and create memorable experiences.</p>
        <p>Our app utilizes advanced AI technology to curate personalized travel recommendations based on your preferences and interests.</p>
        <p>Explore our platform to find exciting destinations, plan your itinerary, and make the most out of your travels!</p>
    </main>
</body>
</html>

{% include 'footer.html' %}
