{% load static %}
{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - Travel Recommendation App</title>
</head>
<body class="d-flex flex-column vh-100">
    <main class=" flex-grow-1">
        <h1>Contact Us</h1>
        <p>If you have any questions, suggestions, or feedback regarding our Travel Recommendation App, please feel free to contact us:</p>
        <ul>
            <li>Email: info@travelrecommendationapp.com</li>
            <li>Phone: +1 (123) 456-7890</li>
            <li>Address: 123 Main Street, City, Country</li>
        </ul>
    </main>
</body>
</html>

{% include 'footer.html' %}