{% load static %}
{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQs - Travel Recommendation App</title>
</head>
<body class="d-flex flex-column vh-100">
    <main class=" flex-grow-1">
        <h1>Frequently Asked Questions</h1>
        <h2>General</h2>
        <ul>
            <li><strong>How does the Travel Recommendation App work?</strong> - Our app uses the GPT Model to analyze your preferences and provide personalized travel recommendations.</li>
            <li><strong>Is the app free to use?</strong> - Yes, our app is free to use for all users.</li>
        </ul>
        <h2>Account</h2>
        <ul>
            <li><strong>How do I create an account?</strong> - To create an account, simply click on the "Register" button and follow the instructions.</li>
            <li><strong>Can I change my account settings?</strong> - Yes, you can manage your account settings and preferences from the dashboard.</li>
        </ul>
        <h2>Recommendations</h2>
        <ul>
            <li><strong>How accurate are the recommendations?</strong> - Our recommendations use the latest LLM models and user feedback to provide accurate and relevant suggestions.</li>
            <li><strong>Can I customize my recommendations?</strong> - Yes, you can customize your preferences to receive tailored recommendations.</li>
        </ul>
    </main>
</body>
</html>

{% include 'footer.html' %}