{% load static %}
{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy - Travel Recommendation App</title>
</head>
<body class="d-flex flex-column vh-100">
    <main class=" flex-grow-1">
        <h1>Privacy Policy</h1>
        <p>Your privacy is important to us. This Privacy Policy outlines how we collect, use, and protect your personal information:</p>
        <ul>
            <li>We collect information such as your name, email address, and preferences to personalize your experience.</li>
            <li>We use cookies and analytics tools to enhance the functionality of our app and improve user experience.</li>
            <li>Your personal information will not be shared with third parties without your consent, except as required by law.</li>
            <li>We employ security measures to protect your data from unauthorized access or disclosure.</li>
        </ul>
    </main>
</body>
</html>

{% include 'footer.html' %}