<!--
Name of File: travel/templates/terms_of_service.html
Brief description of the file: terms of service section 
Inputs: None
Outputs: creates HTML for the terms of service page
-->

{% load static %}
{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of Service - Travel Recommendation App</title>
</head>
<body class="d-flex flex-column vh-100">
    <main class=" flex-grow-1">
        <h1>Terms of Service</h1>
        <p>By using TrekBud, you agree to comply with the following terms and conditions:</p>
        <ul>
            <li>Usage of the app is subject to your acceptance of our privacy policy.</li>
            <li>You agree not to misuse the app or engage in any unlawful activities.</li>
            <li>We reserve the right to modify or terminate the app at any time without prior notice.</li>
            <li>We are not responsible for any damages or losses incurred during the use of the app.</li>
        </ul>
    </main>
</body>
</html>

{% include 'footer.html' %}