<!--
Name of File: templates/profile/user_profile.html
Brief description of the file: creates page to display all the user's information
Inputs: None
Outputs: display user information
-->
<!DOCTYPE html>
<html>
<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- title of page -->
    <title>User Profile Account</title>
</head>
<body>
    <div style="margin:10px">
        <!-- Page and all the profile information for the current user profile -->
        <h1>User Profile Account</h1>
        <b>Name: </b>{{ userProfile.name }}<br>
        <b>Email: </b>{{ userProfile.email }}<br>
        <b>Phone Number: </b>{{ userProfile.phone_number }}<br>
        <b>Address: </b>{{ userProfile.address }}<br>
        <b>Dietary Restrictions: </b>{{ userProfile.dietary_restrictions }}<br>
        <b>Emergency Contact: </b>{{ userProfile.emergency_contact }}<br>
        <b>Travel Style Preferences: </b>{{ userProfile.travel_style_preferences }}<br>
        <b>Preferred Airlines: </b>{{ userProfile.preferred_airlines }}<br>
        <b>Budget Constraints: </b>{{ userProfile.budget_constraints }}<br>
        <b>Preferred Travel Dates: </b>{{ userProfile.preferred_travel_dates }}<br>
        <b>Trip Duration: </b>{{ userProfile.trip_duration }}<br>
        <b>Notification Preferences: </b>{{ userProfile.notification_preferences }}<br>
    </div>
    <!-- Add a button to edit the profile -->
    <a href="{% url 'edit_profile' %}">Edit Profile</a> 
</body>
</html>
