<footer style="padding-top: 1rem;" class="footer mt-4 bg-light sticky-bottom">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5>Navigation</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/infopages/about-us">About Us</a></li>
                    <li><a class="text-muted" href="/infopages/contact-us">Contact Us</a></li>
                    <li><a class="text-muted" href="/infopages/terms-of-service">Terms of Service</a></li>
                    <li><a class="text-muted" href="/infopages/privacy-policy">Privacy Policy</a></li>
                    <li><a class="text-muted" href="/infopages/faqs">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Information</h5>
                <ul class="list-unstyled text-small">
                    <li>Email: info@example.com</li>
                    <li>Phone: 123-456-7890</li>
                    <li>Address: 123 Main St, City, Country</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Social Media</h5>
                <ul class="list-inline social-media-icons">
                    <li class="list-inline-item"><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.x.com"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
