body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
header {
    padding-left: 1rem;
    align-items:center;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffc107;
}

.btn-outline-primary, .btn-primary {
    margin-left: 10px;
}